html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 10px;
  padding: 10px;
}

.container > div {
  margin: 15px 10px;
}

.container p {
  text-align: center;
}

.buttons {
  text-align: center;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #888;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li a {
  color: #888;
  overflow-wrap: break-word;
}

ul li:last-child {
  border-bottom: none;
}
